---
import GroupFooterNav from "../blocks/GroupFooterNav.astro";
import Container from "../shared/Container.astro";
import FooterNav from "../shared/FooterNav.astro";
import Paragraph from "../shared/Paragraph.astro";
const footerNav1 = [
    {
        itemText:"Marketing",
        itemLink:"#"
    },
    {
        itemText:"Analylitics",
        itemLink:"#"
    },
    {
        itemText:"Commerce",
        itemLink:"#"
    },
    {
        itemText:"Insights",
        itemLink:"#"
    }
]

const footerSupport = [
    {
        itemText:"Pricing",
        itemLink:"#"
    },
    {
        itemText:"Guides",
        itemLink:"#"
    },
    {
        itemText:"FAQ",
        itemLink:"#"
    },
    {
        itemText:"Contact",
        itemLink:"#"
    }
]

const footerCompany = [
    {
        itemText:"About",
        itemLink:"/about"
    },
    {
        itemText:"Blog",
        itemLink:"#"
    },
    {
        itemText:"Jobs",
        itemLink:"#"
    },
    {
        itemText:"Parteners",
        itemLink:"#"
    },
    {
        itemText:"Jobs",
        itemLink:"#"
    }
]
const footerLegal = [
    {
        itemText:"Claim",
        itemLink:"/#"
    },
    {
        itemText:"Privacy",
        itemLink:"#"
    },
    {
        itemText:"Terms",
        itemLink:"#"
    }
]
---
<div class="mt-16"></div>
<footer class="relative  bg-gradient-to-tr from-gray-100 to-gray-200 dark:from-gray-900 pt-28 rounded-t-3xl">

    <div class=" bg-gradient-to-tl from-box-bg py-2 relative">
        <Container>
            <div class="flex justify-between items-center gap-6 md:text-lg text-heading-3">
                <div>
                    &copy; <span id="year"></span> Faz de casa. todos os direitos reservados
                </div>
                <div>
                    Produzido por <a href="https://github.com/johnkat-mj" target="_blank" class="font-semibold">Matheus</a>
                </div>
            </div>
        </Container>
    </div>
</footer>
